{% extends 'base.html.twig' %}

{% block content %}

    <section id="banner">

        <!-- Slider -->
        {% include 'slide.html.twig'%}
        <!-- end slider -->
    </section>
    <section class="projects">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter"><h2 class="aligncenter">Biens </h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br/>doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
                    <br/>
                </div>
            </div>

            <div class="row service-v1 margin-bottom-40">
                {% for bien in Biens %}
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="card small">
                        <div class="card-image" style="width:300px;height:250px;">
                            <img class="img-responsive" src="/image/{{bien.image}}" alt="">
                        </div>
                        <div class="card-content">
                            <p>
                            <h4>{{bien.intitule}}</h4>
                            <span class="price">
                                        {% if bien.prix ==0 %}
                                            Nous contactez
                                        {% else %}
                                            {{bien.prix}} Euro
                                        {% endif %}

                                    </span>

                            <h5>{{bien.localisation}}</h5>
                            {{bien.descriptif}}
                            </p>
                        </div>
                    </div>
                </div>
                {%endfor %}


            </div>
        </div>
    </section>

    <section class="section-padding gray-bg" >
        <div class="container" id="abouts">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>SAFER <span>Immobilier</span></h2>
                        <p>Une Safer (Société d’aménagement foncier et d’établissement rural) est une société anonyme, sans but lucratif (sans distribution de bénéfices), avec des missions d’intérêt général, sous tutelle des ministères de l’Agriculture et des Finances. Les Safer couvrent le territoire français métropolitain et 3 DOM. Issues des lois d’orientation agricole de 1960 et 1962, les Safer ont aujourd’hui plus de cinquante ans d’expérience sur le terrain.
                            Leurs actions relèvent des tribunaux judiciaires (tribunaux de grandes instances, cours d’appel et Cour de cassation)</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-image">
                        <img src="assets/img/about.jpg" alt="About Images">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Pourquoi faire appel à la Safer ?</h3>
                        <p>S’informer sur les marchés fonciers ruraux</p>
                        <p>Acheter un bien </p>
                        <p>Vendre un bien</p>
                        <p>Louer un bien</p>
                        <p>Définir une politique de territoire pour les collectivités</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}