{% extends 'base.html.twig' %}

{% block content %}

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Prairie</h3>
                        <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                        <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                    </div>
                </div>
            </div>


            <div class="row service-v1 margin-bottom-40">
                {% for bien in Biens %}
                    <div class="col-md-4 md-margin-bottom-40" >
                        <div class="card small" style="width:299px;height:490px;">
                            <div class="card-image" style="width:300px;height:250px;">
                                <img class="img-responsive" src="/image/{{bien.image}} " alt="" width="250" height="200">
                            </div>
                            <div class="card-content">
                                <p>
                                <h4>{{bien.intitule}}</h4>
                                <span class="price">
                                        {% if bien.prix ==0 %}
                                            Nous contactez
                                        {% else %}
                                            {{bien.prix}} Euro
                                        {% endif %}

                                    </span>

                                <h5>{{bien.localisation}}</h5>
                                {{bien.descriptif}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>






        </div>
    </section>


{% endblock %}