{% extends 'base.html.twig' %}

{% block content %}
    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Favoris</h3>

                    </div>
                </div>
            </div>


            <div class="row service-v1 margin-bottom-40" >
                {% for bien in Biens %}
                    <div class="col-md-4 md-margin-bottom-40" >
                        <div class="card small" style="width:299px;height:490px;">
                            <div class="card-image" style="width:300px;height:250px;">
                                <img class="img-responsive" src="/image/{{bien.image}} " alt="">
                            </div>
                            <div class="card-content">
                                <p>
                                <h4>{{bien.intitule}}</h4>
                                <span class="price">
                                        {% if bien.prix ==0 %}
                                            Nous contactez
                                        {% else %}
                                            {{bien.prix}} Euro

                                        {% endif %}
                                    ----{{ bien.etat }}

                                    </span>

                                <h5>{{bien.localisation}}</h5>
                                {{bien.descriptif}}
                                </p>
                                <form action="{{ path('app_favoris_delete',{'bien_id':bien.id}) }}" method="post">
                                    <input type="hidden" name="bien_id" value="{{ bien.id }}">
                                    <button type="submit" class="btn btn-primary btn-block">Sup fav</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>
{% endblock %}
